h1 {
    color: white;
    background-image: url('https://previews.123rf.com/images/foxaon/foxaon1203/foxaon120300167/12751991-abstract-robot-eye.jpg');
    background-size: cover;
    opacity: 0.8;
}