{% extends "base.html" %}

{% block main %}
<div class="container text-center">
    <div style="width:25%; height:25%"">
        <canvas id="myChart" width="50" height="50"></canvas>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
          labels: ['angry', 'disgust', 'fear', 'happy', 'sad', 'surprise', 'neutral'], 
        datasets: [{
            label: '% of Emotion',
            data: ["{{value[0].emotion.angry}}", "{{value[0].emotion.disgust}}", "{{value[0].emotion.fear}}", "{{value[0].emotion.happy}}", "{{value[0].emotion.sad}}", "{{value[0].emotion.surprise}}", "{{value[0].emotion.neutral}}"], // Data on Y axis
            borderWidth: 1
          }]
      }
    });
        </script>
    <h3>BioBeauty thinks you feel: {{ value[0]['dominant_emotion'] }}</h3>
<img src="static/images/saved_img.jpg" alt="">
<h3>Based on your analysis here are some recommended products:</h3>
<div class="card-group">
    {% if value[0]['age'] < 30 %}
    <div class="card">
      <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_R6C801_640x640_0.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Advanced Night Repair
            Concentrated Recovery PowerFoil Mask</h5>
        <p class="card-text">Innovative mask with exclusive repair technology.</p>
        <a href="https://www.esteelauder.com/product/687/35783/product-catalog/skincare/masks/advanced-night-repair/concentrated-recovery-powerfoil-mask" class="btn btn-primary">Shop now</a>
      </div>
    </div>
    {% else %}
    <div class="card">
        <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_PMXW01_640x640_0.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Revitalizing Supreme+ Moisturizer
            Youth Power Crem</h5>
          <p class="card-text">Rich multi-action creme: Firming, lifting, radiance.</p>
          <a href="https://www.esteelauder.com/product/688/97386/product-catalog/skincare/moisturizer/revitalizing-supreme-moisturizer/youth-power-creme" class="btn btn-primary">Shop now</a>
        </div>
      </div>
    {% endif %}
    {% if value[0]['dominant_gender'] == 'Man' %}
    <div class="card">
      <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_181601_640x640_0.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">lauder For Men
            Cologne Spray</h5>
        <p class="card-text">Fresh, Clean, Exhilarating</p>
        <a href="https://www.esteelauder.com/product/8257/2034/product-catalog/fragrance/fragrance-collections/for-men/lauder-for-men/cologne-spray?size=3.4_oz." class="btn btn-primary">Shop now</a>
      </div>
    </div>
    {% else %}
    <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_G24001_640x640_0.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ignite Your Radiance
        Even-Tone + Plump + Brighten Skincare Set</h5>
      <p class="card-text">3-piece collection including a full-size Perfectionist Pro Serum Brightening Treatment.</p>
      <a href="https://www.esteelauder.com/product/707/110695/product-catalog/sets-gifts/skincare-sets-gifts/ignite-your-radiance/even-tone-plump-brighten-skincare-set" class="btn btn-primary">Shop now</a>
    </div>
    </div>
    {% endif %}
    {% if value[0]['dominant_emotion'] == 'happy' %}
    <div class="card">
      <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_GWW301_640x640_0.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Whimsical Fox
            Perfume Compact</h5>
        <p class="card-text">Collectible solid perfume compact.</p>
        <a href="https://www.esteelauder.com/product/630/105806/product-catalog/sets-gifts/fragrance-sets-gifts/whimsical-fox/perfume-compact-by-monica-rich-kosann" class="btn btn-primary">Shop now</a>
      </div>
    </div>
    {% else %}
    <div class="card">
        <img class="card-img-top" src="https://www.esteelauder.com/media/export/cms/products/640x640/el_sku_PRGF01_640x640_0.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tender Light
            Eau de Parfum Spray</h5>
          <p class="card-text">Feel the joy of sunlight in a palace of dreams.</p>
          <a href="https://www.esteelauder.com/product/31561/89004/product-catalog/fragrance/fragrance-collections/luxury-fragrance-collection/tender-light/eau-de-parfum-spray" class="btn btn-primary">Shop now</a>
        </div>
      </div>
    {% endif %}  
</div>
{% endblock %}